@{
    ViewData["Title"] = "Accesso Denegado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">No tiene accesso a este recurse. No se cumpĺe con los requerimientos para tener acceso a este recurso</p>
    <a class="btn btn-info" href="javascript:history.back()">Volver</a>
</header>
