<div style="display: flex; justify-content: space-between; width: 80%;">
    <div style="display: flex; flex-direction: column;">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
    </div>
    <img src=@ViewData["Image"]>
</div>
<a class="btn btn-info" href="javascript:history.back()">Volver</a>
